body {
  background: aliceblue;
}
nav.main-nav {
  background-color: black;
  color: white;
  font-family:  'Avenir';
  display: flex;
  justify-content: space-between;
  padding: 32px 100px;
}
.desktop {
  display: none;
}

.square {
  width: 100px;
  height: 100px;
  background: violet;
}

main {
  padding: 50px;
}

.animation1 {
  animation-name: change-color-size;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.animation2 {
  animation-name: rotate-change-opacity;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes rotate-change-opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
    transform: rotate(180deg);
  }
}

@keyframes change-color-size {


  100% {
    width: 200px;
    background: aqua;
  }
}

.drawer {
  position: fixed;
  transition: 1s;
  top: 0;
  right: -200px;
  bottom: 0;
  background: black;
  color: white;
}

.open {
  right: 0;
  width: 200px;
}


/*How to split items in navigation bar<-- flex display; */
@media (min-width: 992px) {
  nav.main-nav {
    background: transparent;
    color: #333;
    padding: 16px;
  }
  .desktop {
    display: initial;
  }
  .phone {
    display: none;
  }
}